.habitacion{
    height: 300px;
    width: 85%;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #284b63;
}

.img-hab {
    height: auto;
    width: 50%;
    border-radius: 5px;
    background-color: #284b63;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.img-hab a {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.img-hab img {
    width: 100%;
    min-height: 100%;
    display: block;
    object-fit: cover;
    max-height: 100%;
    transition: all 1s ease;
}

.text-cont-h {
    padding: 0 10px;
    width: 45%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#todo{
    background-image: url("/principal/hotel/img/habitaciones/habitacionclasica/imagen8.jpg") !important;
}

.hab-desc-cont {
    width: 100%;
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    background-color: #284b63;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    margin-left: 20px;
}

.hab-desc-cont .desc {
    margin: 10px 0;
}

.hab-desc-cont .desc h1 {
    font-size: 2rem;
}

.list-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-cont section {
    padding: 10px;
    width: 50%;
}

.carrusel {
    width: 100%;
    height: 500px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carrusel-item {
    width: 85%;
    height: 100%;
    border-radius: 10px;

    display: none;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;

    overflow: hidden;
}

.carrusel-item img {
    width: auto;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-item.active {
    display: flex;
    opacity: 1;
}

.arrow {
    height: 45px;
    width: 45px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.arrow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}